.button-primary {
  background-color: #008cba; /* Green */
}

.button-primary:hover {
  background-color: #00a7df;
}

.button-primary:active {
  background-color: #008cba;
}

.button-secondary {
  background-color: #00ba9b;
}

.button-secondary:hover {
  background-color: #01d3b0;
}

.button-secondary:active {
  background-color: #00ba9b;
}

.button {
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100px;
}
