/* Core input theming */
.input {
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100px;
}

/* primary theming */
.input-primary {
  background-color: #008cba;
}

.input-primary:hover {
  background-color: #00a7df;
}

.input-primary:active {
  background-color: #008cba;
}

/* secondary theming */
.input-secondary {
  background-color: #00ba9b;
}

.input-secondary:hover {
  background-color: #01d3b0;
}

.input-secondary:active {
  background-color: #00ba9b;
}
